.box{
    padding: 20px;
    font-style: italic;
    color: #8a2be2;
    text-align: center;
    font-size: 52px;
    margin: 2em; color: yellow;
    border: 2px solid rgb(191, 52, 52);
    background-color: orange;
}
body{
    background-color: blue;
}