.box{
    display:block;
    background-color: #00ffff;
    margin:10px;
    padding: 10px;
}

    .box1{
        display: block;
    background-color:blueviolet;
    border:2px solid;
    margin:10px;
    padding: 10px;
}