/* Element selector */
h1{
    color: blue;
}
/* class selector */
.text{
    color: orange;
}
#main-title{
    font-size: 100px;
}
.box{
    padding: 10px;
    margin: 2em;
    border: 3px solid rgb(128, 51, 0);
    font-size: 20px;
    background-color: blueviolet;
}
.box2{
    padding:10px;
    border:3px solid rgb(198, 164, 12);
    margin: 2em;
    background-color:rgb(186, 36, 36);
}